/* Regional menu styles */
body.type_eh #sideBar .navTop,
body.type_ep #sideBar .navTop,
body.type_en #sideBar .navTop,
body.type_ef #sideBar .navTop {background:#7f9AAD;}


body.type_eh #sideBar ul.nice-menu,
body.type_ep #sideBar ul.nice-menu,
body.type_en #sideBar ul.nice-menu,
body.type_ef #sideBar ul.nice-menu {background:#7F9AAD url('images/bg-menu-eastern.gif') repeat-x bottom;}

body.type_eh #sideBar ul.nice-menu ul.popout,
body.type_ep #sideBar ul.nice-menu ul.popout,
body.type_en #sideBar ul.nice-menu ul.popout,
body.type_ef #sideBar ul.nice-menu ul.popout {
  border:1px solid #11568B;
  background-color:#CFDEEF;
  background-image:none;
}

body.type_eh #sideBar ul.nice-menu li,
body.type_ep #sideBar ul.nice-menu li,
body.type_en #sideBar ul.nice-menu li,
body.type_ef #sideBar ul.nice-menu li {background:transparent url('images/bg-menu-divider-eastern.gif') no-repeat bottom center;}

body.type_eh #tabBar,
body.type_ep #tabBar,
body.type_en #tabBar,
body.type_ef #tabBar {background:#96ACBB url('images/bg-tabbar-eastern.gif') repeat-x;}



body.type_mh #sideBar .navTop,
body.type_mp #sideBar .navTop,
body.type_mn #sideBar .navTop,
body.type_mf #sideBar .navTop {background:#A2856D;}

body.type_mh #sideBar ul.nice-menu li a,
body.type_mp #sideBar ul.nice-menu li a,
body.type_mn #sideBar ul.nice-menu li a,
body.type_mf #sideBar ul.nice-menu li a {color:#663E1B;}

body.type_mh #sideBar ul.nice-menu li.expanded a,
body.type_mp #sideBar ul.nice-menu li.expanded a,
body.type_mn #sideBar ul.nice-menu li.expanded a,
body.type_mf #sideBar ul.nice-menu li.expanded a {
	background:url('images/icon-menu-collapsed-mountain.gif') left center no-repeat;
}

body.type_mh #sideBar ul.nice-menu,
body.type_mp #sideBar ul.nice-menu,
body.type_mn #sideBar ul.nice-menu,
body.type_mf #sideBar ul.nice-menu {background:#A2856D url('images/bg-menu-mountain.gif') repeat-x bottom;}

body.type_mh #sideBar ul.nice-menu ul.popout,
body.type_mp #sideBar ul.nice-menu ul.popout,
body.type_mn #sideBar ul.nice-menu ul.popout,
body.type_mf #sideBar ul.nice-menu ul.popout {
  border:1px solid #663E1B;
  background-color:#DFBFA6;
  background-image:none;
}

body.type_mh #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover,
body.type_mp #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover,
body.type_mn #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover,
body.type_mf #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover {color:#8E6541;}

body.type_mh #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover,
body.type_mp #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover,
body.type_mn #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover,
body.type_mf #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover {color:#FFF;}

body.type_mh #sideBar ul.nice-menu li,
body.type_mp #sideBar ul.nice-menu li,
body.type_mn #sideBar ul.nice-menu li,
body.type_mf #sideBar ul.nice-menu li {background:transparent url('images/bg-menu-divider-mountain.gif') no-repeat bottom center;}

body.type_mh #tabBar,
body.type_mp #tabBar,
body.type_mn #tabBar,
body.type_mf #tabBar {background:#96ACBB url('images/bg-tabbar-mountain.gif') repeat-x;}




body.type_wh #sideBar .navTop,
body.type_wp #sideBar .navTop,
body.type_wn #sideBar .navTop,
body.type_wf #sideBar .navTop {background:#E5b664;}

body.type_wh #sideBar ul.nice-menu li a,
body.type_wp #sideBar ul.nice-menu li a,
body.type_wn #sideBar ul.nice-menu li a,
body.type_wf #sideBar ul.nice-menu li a {color:#Af7308;}

body.type_wh #sideBar ul.nice-menu li.expanded a,
body.type_wp #sideBar ul.nice-menu li.expanded a,
body.type_wn #sideBar ul.nice-menu li.expanded a,
body.type_wf #sideBar ul.nice-menu li.expanded a {
	background:url('images/icon-menu-collapsed-western.gif') left center no-repeat;
}

body.type_wh #sideBar ul.nice-menu,
body.type_wp #sideBar ul.nice-menu,
body.type_wn #sideBar ul.nice-menu,
body.type_wf #sideBar ul.nice-menu {background:#E5B664 url('images/bg-menu-western.gif') repeat-x bottom;;}

body.type_wh #sideBar ul.nice-menu ul.popout,
body.type_wp #sideBar ul.nice-menu ul.popout,
body.type_wn #sideBar ul.nice-menu ul.popout,
body.type_wf #sideBar ul.nice-menu ul.popout {
  border:1px solid #AF7308;
  background-color:#F9FADB;
  background-image:none;
}

body.type_wh #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover,
body.type_wp #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover,
body.type_wn #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover,
body.type_wf #main #sideBar ul.nice-menu li.expanded ul.popout li.popout a:hover {color:#DFB261;}

body.type_wh #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover,
body.type_wp #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover,
body.type_wn #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover,
body.type_wf #main #sideBar ul.nice-menu li.active-trail ul.popout li.popout a:hover {color:#FFF;}

body.type_wh #sideBar ul.nice-menu li,
body.type_wp #sideBar ul.nice-menu li,
body.type_wn #sideBar ul.nice-menu li,
body.type_wf #sideBar ul.nice-menu li {background:transparent url('images/bg-menu-divider-western.gif') no-repeat bottom center;}

body.type_wh #tabBar,
body.type_wp #tabBar,
body.type_wn #tabBar,
body.type_wf #tabBar {background:#96ACBB url('images/bg-tabbar-western.gif') repeat-x;}

/* End Regional menu styles */
