/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  To help understand the CSS, the HTML looks like this, where
    x is a number;
    TYPE is down/left/right;
    PATH is the menu path such as node/343;
    MID is the menu id such as 33):
  <ul id='nice-menu-x' class='nice-menu nice-menu-TYPE'>
    <li id='menu-MID' class='menu-path-PATH'><a href='#'>This is a menu item</a></li>
    <li class='menuparent menu-path-PATH'><a href='#'>A submenu</a>
      <ul...><li...>...</li>
      </ul>
    </li>
    ...
  </ul>

  If you have more than one nice-menu and want to target a particular one,
  use its id (e.g. ul#nice-menu-2).

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for some CSS customization examples.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

ul.nice-menu li {
  border-top: 0;
  float: left;
  /* Additional overrides to deal with Garland theme. */
  margin: 0;
  padding-left: 0;
  background-image: none;
}

/* Overrides for Garland header. */
#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu ul {
  top: 45px;
  left: -1px;
  border: 0;
  margin-right: 0;
}

/* Override for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.7em;
}

ul.nice-menu ul li {
  width: 12.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
#sideBar ul.nice-menu, ul.nice-menu-left,
#sideBar ul.nice-menu li, ul.nice-menu-left li {
  width: 243px;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
#sideBar ul.nice-menu ul {
  width: 243px;
  left: 231px;
  top: -1px;
}

#sideBar ul.nice-menu ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

#sideBar ul.nice-menu li.menuparent,
#sideBar ul.nice-menu li li.menuparent {
  background: transparent none;
}

#sideBar ul.nice-menu li.menuparent:hover,
#sideBar ul.nice-menu li.over,
#sideBar ul.nice-menu li li.menuparent:hover,
#sideBar ul.nice-menu li li.over {
  background: transparent none;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: transparent none;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li.over,
ul.nice-menu-left li li.menuparent:hover,
ul.nice-menu-left li li.over {
  background: transparent none;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

#headerBottom ul.nice-menu {
  float: left;
  border: 0;
}

#headerBottom ul.nice-menu li {
}

#headerBottom ul.nice-menu li li {
  border-top: 0;
}

#headerBottom ul.nice-menu ul {
  left: 0;
}

#headerBottom ul.nice-menu ul li {
  clear: both;
}

#headerBottom ul.nice-menu li ul li ul,
/* Repeat for Garland header. */
#header-region #headerBottom ul.nice-menu li ul li ul {
  left: 12.5em;
  top: -1px;
}

#headerBottom ul.nice-menu .menuparent a {
  padding-right: 15px;
}

#headerBottom ul.nice-menu li.menuparent,
/* Repeat for Garland header. */
#header-region #headerBottom ul.nice-menu li.menuparent {
  background: transparent none;
}

#headerBottom ul.nice-menu li.menuparent:hover,
#headerBottom ul.nice-menu li.over,
/* Repeat for Garland header. */
#header-region #headerBottom ul.nice-menu li.menuparent:hover,
#header-region #headerBottom ul.nice-menu li.over {
  background: transparent none;
}

#headerBottom ul.nice-menu li li.menuparent,
/* Repeat for Garland header. */
#header-region #headerBottom ul.nice-menu li li.menuparent {
  background: transparent none;
}

#headerBottom ul.nice-menu li li.menuparent:hover,
#headerBottom ul.nice-menu li li.over,
/* Repeat for Garland header. */
#header-region #headerBottom ul.nice-menu li li.menuparent:hover,
#header-region #headerBottom ul.nice-menu li li.over {
  background: transparent none;
}

/*****************************************************************************************************************/
/* Below should fix menu being a few pixels away in some themes, and menus disappearing behind other stuff. */
.block-nice_menus {
  line-height: normal;
  z-index: 10;
}

#headerBottom .block-nice_menus {
  z-index: 15;
}

ul.nice-menu,
ul.nice-menu ul {
  z-index: 5;
  position: relative;
}

#headerBottom ul.nice-menu,
#headerBottom ul.nice-menu ul {
  z-index: 11;
}

ul.nice-menu li {
  position: relative;
}

ul.nice-menu a {
  display: block;
}

ul.nice-menu ul,
/* For Garland header. */
#header-region ul.nice-menu ul {
  position: absolute;
  visibility: hidden;
}

ul.nice-menu li.over ul {
  visibility: visible;
}

ul.nice-menu ul li {
  display: block;
}

#headerBottom ul.nice-menu:after, #sideBar ul.nice-menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Show submenus when over their parents. */
#headerBottom ul.nice-menu li.popout:hover ul,
#headerBottom ul.nice-menu li.menuparent li.popout:hover ul,
#headerBottom ul.nice-menu li.menuparent li.menuparent li.popout:hover ul,
#headerBottom ul.nice-menu li.menuparent li.menuparent li.menuparent li.popout:hover ul,
#headerBottom ul.nice-menu li.over ul,
#headerBottom ul.nice-menu li.menuparent li.over ul,
#headerBottom ul.nice-menu li.menuparent li.menuparent li.over ul,
#headerBottom ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul,

#sideBar ul.nice-menu li.popout:hover ul,
#sideBar ul.nice-menu li.menuparent li.popout:hover ul,
#sideBar ul.nice-menu li.menuparent li.menuparent li.popout:hover ul,
#sideBar ul.nice-menu li.menuparent li.menuparent li.menuparent li.popout:hover ul,
#sideBar ul.nice-menu li.over ul,
#sideBar ul.nice-menu li.menuparent li.over ul,
#sideBar ul.nice-menu li.menuparent li.menuparent li.over ul,
#sideBar ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul {
  visibility: visible;
}

/* Hide sub-menus initially. */
#headerBottom ul.nice-menu li:hover ul ul,
#headerBottom ul.nice-menu li:hover ul ul ul,
#headerBottom ul.nice-menu li:hover li:hover ul ul,
#headerBottom ul.nice-menu li:hover li:hover ul ul ul,
#headerBottom ul.nice-menu li:hover li:hover li:hover ul ul,
#headerBottom ul.nice-menu li:hover li:hover li:hover ul ul ul,
#headerBottom ul.nice-menu li.over ul ul,
#headerBottom ul.nice-menu li.over ul ul ul,
#headerBottom ul.nice-menu li.over li.over ul ul,
#headerBottom ul.nice-menu li.over li.over ul ul ul,
#headerBottom ul.nice-menu li.over li.over li.over ul ul,
#headerBottom ul.nice-menu li.over li.over li.over ul ul ul,

#sideBar ul.nice-menu li:hover ul ul,
#sideBar ul.nice-menu li:hover ul ul ul,
#sideBar ul.nice-menu li:hover li:hover ul ul,
#sideBar ul.nice-menu li:hover li:hover ul ul ul,
#sideBar ul.nice-menu li:hover li:hover li:hover ul ul,
#sideBar ul.nice-menu li:hover li:hover li:hover ul ul ul,
#sideBar ul.nice-menu li.over ul ul,
#sideBar ul.nice-menu li.over ul ul ul,
#sideBar ul.nice-menu li.over li.over ul ul,
#sideBar ul.nice-menu li.over li.over ul ul ul,
#sideBar ul.nice-menu li.over li.over li.over ul ul,
#sideBar ul.nice-menu li.over li.over li.over ul ul ul {
  visibility: hidden;
}

/***************
 IE 6 Fixes
***************/

/* Iframe to fix z-index bug when menu hovers over <select> fields. */
ul.nice-menu li.menuparent ul,
/* For Garland header. */
#header-region ul.nice-menu li.menuparent ul {
	overflow: visible !important;
	/* overflow: hidden; */
}

ul.nice-menu li.menuparent ul iframe,
/* For Garland header. */
#header-region ul.nice-menu li.menuparent ul iframe {
	display: none;
	display/**/: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	width: 20px;
	height: 20px;
}